{% extends 'stockdash/base.html' %}
{% block content %}
<h4><span id="todaydate" class="text-muted">last updated {{stockobjects.0.date_traded}}</span></h4>


<form method="get">
    {{ stockobjects.form }}
    <input type="submit" />
</form>
<table id="content-table" class="sortable">
	<tr>
		<th>SECTOR</th><th>INDUSTRY</th><th>SYMBOL</th><th>NAME</th><th>LAST PRICE</th><th>MARKET CAP</th><th>RETURN 1 DAY</th><th>RETURN 7 DAY</th><th>RETURN 14 DAY</th><th>RETURN 30 DAY</th>
	</tr>
	{% for sobj in stockobjects.qs %}
	<tr>
		<td>{{sobj.sector}}</td><td>{{sobj.industry}}</td><td><a href="{% url 'stockpage' sobj.symbol %}">{{sobj.symbol}}</a></td><td>{{sobj.symbolname}}</td>
		<td>${{sobj.latest_close}}</td>
		<td>${{sobj.marketcap}} B</td>
		<td>{{sobj.return_1_day}}%</td>
		<td>{{sobj.return_7_day}}%</td>
		<td>{{sobj.return_14_day}}%</td>
		<td>{{sobj.return_30_day}}%</td>
	</tr>
	{% endfor %}
</table>


{% endblock content %}